@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@500&display=swap');
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    text-decoration: none;
}
nav {
    width: 100%;
    height: 7vw;
    background-color:rgb(0, 0, 0);
}           

.nav-container{
    max-width: 90vw;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logonav{
    width: 17vw;
    object-fit: contain;
    margin-left: 20px;
    margin-bottom: 20px;
}
.nav-shopping{
    max-width: 90vw;
    align-items: center;
    display:flex ;
}
.nav-basket{
    position:relative;
}
.basket{
    width: 3vw;
    object-fit: contain;
    cursor: pointer;
}
.cartcount{
    position:absolute;
    top:-3px;
    right:-5px;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}   
.container{
    margin: 0%;  
    display: flex;
    /* justify-content: space-between; */

    
}
.sidebar{
    max-width: 20vw;
    padding: 10px;
    background-color:rgb(236, 234, 234);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1;

}

.product{
    max-width: 100vw;
    background-color: rgb(225, 225, 225);
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 10px;
    align-content: start;



}
.cartinpro{
    position:relative;
    bottom: 17px;
    right:-200px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-side-bar{
    margin-top: 10px;
    max-width: 12vw;   
    margin-bottom: 5px;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    outline: none;
    transition: 0.3s;                                                                                                                                                                                                                                                                                           

}

.search-side-bar:focus{
    border: 2px solid rgb(255, 94, 0);
    

}
.sidebar-item{
    background-color:rgb(215, 215, 215);
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    color: rgb(0, 0, 0);
    transition: 0.3s;
    font-weight:500;
    font-size: 1.2vw;
    cursor:pointer;
    width: 13vw;

}

.sidebar-item:hover{ 
    background: rgb(255, 255, 255);
    color: black;
}   
.logout-bar {
    min-height: 100vh;
  
}
.logoutbtn {
    flex:1;
    position: fixed;
    bottom: 0;
    width: 10vw;
    padding: 10px;
    color: black;
    background-color: rgb(195, 195, 195);  
    transition: 0.3s;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.logoutbtn:hover{
    background: black;
    color: rgb(202, 202, 202);
}
.imgexit{
    flex:1;
    position: fixed;
    bottom: 0;
    transition: 0.3s;
    cursor: pointer;
    width: 36px;
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    object-fit: contain;
}


.imgproduct   {
    width: 15vw;
    height: 12vw;
    object-fit: cover;
    border-radius: 10px;
    
}

.product-items{
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.4s;
    padding: 10px;
    height: 17vw;
   
    
}               
.product-items:hover{
    transform: scale(1.03);

}                                                
.modal,
.modal-bg {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-page{
    z-index: 99;
    min-width: 30vw;
    max-width: 60vw;
    max-height: 30vw;
    overflow:auto ;
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 15px;

}
.modal-content{
    width: 100%;
    display:flex;
}
.modal-detail{
    margin-left: 20px;
}
.modal-img{
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 10px;
}
.btn-control{
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}
.btn{
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 1.2vw;
    transition: 0.3s;
}
.btn-buy{
    background: linear-gradient(125deg, rgb(209, 16, 16),rgba(254, 103, 2, 0.762));
    color: white;
    margin-left: 10px;
}   
.cartlist{
    overflow: auto;

}   
.cartlist-items{
    margin-bottom: 20px ;
    display: flex;
    justify-content: space-between;
    width: 50vw;
}
.cartlist-left{

    display: flex;
    
}
.cartlist-right{
    display: flex;
    align-items: center;
}
.cartlist-left img{
    width: 5vw;
    height: 5vw;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
}
.btnc{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    cursor: pointer;
  
   
}   
